@import "../../mixins.scss";
.landing {
  height: 100vh;

  display: flex;
  place-items: center;
  

  .left {
    height: 100%;
    width: 60%;
    
    background: var(--blue);
    background: linear-gradient(0deg, rgba(57,93,219,1) 20%, rgba(81,118,238,0.8436624649859944) 63%);
    display: grid;
    align-items: center;
    justify-content: center;
    
    .leftImg {
      display: flex;
      margin: auto;

      height: 60%;
      width: 100%;
    }
  }
  .right {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  


/* CSS */
.button-66 {
  background-color: var(--blue);
  border-radius: 4px;
  border: 0;
  box-shadow: rgba(1,60,136,.5) 0 -1px 3px 0 inset,rgba(0,44,97,.1) 0 3px 6px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Space Grotesk",-apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  min-height: 56px;
  min-width: 120px;
  padding: 16px 20px;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  transition: all .2s cubic-bezier(.22, .61, .36, 1);
  span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
}

.button-66 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
 
  right: -20px;
  transition: 0.5s;
}

.button-66:hover span {
  padding-right: 20px;
}

.button-66:hover span:after {
  opacity: 1;
  right: 0;
}
.button-66:hover {
  background-color:var(--blue);
  transform: translateY(-5px);
}

@media (min-width: 768px) {
  .button-66 {
    padding: 16px 44px;
    min-width: 150px;
  }
}
  }
}
