.landing {
  height: 100vh;

  display: flex;
  place-items: center;
  

  .left {
    height: 100%;
    width: 60%;

    display: grid;
    align-items: center;
    justify-content: center;
    .logo {
      display: flex;
      margin-left: 10px;
      box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
      height: 8%;
      width: 8%;
      border-radius: 20px;
    }
    .leftImg {
      display: flex;
      margin: auto;

      height: 60%;
      width: 100%;
    }
  }
  .right {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
